{% extends "base.html" %}

{% block content %}
<head>
    <title> {% block title %} Изменить занятие | {% endblock %} </title>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <div class="dropdown is-active">
        <div class="dropdown-trigger">
            <button class="button is-large" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Выберите номер занятия</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu is-large" id="dropdown-menu" role="menu">
            <div class="dropdown-content">
                {% for lesson in lessons %}
                    <div class="dropdown-item">
                        <a href="{{ url_for('admin.edit_lesson_post', lesson_number=lesson.lesson_number) }}" class="dropdown-item">
                           {{ lesson.lesson_number }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>



{% endblock %}
