{% extends "base.html" %}

{% block content %}
{% if not current_user.is_authenticated %}
<h1 class="title">
  Добро пожаловать на спецкурс "Матлингвистика"!
</h1>
<h2 class="subtitle">
  Зарегистрируйтесь или войдите, чтобы продолжить.
</h2>
{% endif %}
{% if current_user.is_authenticated %}
<div class="slider-container">
  <div class="slide">
    <p>Фундаментальная и прикладная лингвистика – это необычное направление, которое объединяет в себе самые разные научные дисциплины, такие как лингвистика, математика, информатика, когнитивная наука и нейронаука. Оно предназначено для подготовки специалистов, которые будут способны применять математические методы для описания и исследования языка.</p>
    <p>Кроме того, фундаментальная и прикладная лингвистика имеет множество практических применений. Специалисты в этой области могут работать в различных сферах, связанных с языком, таких как компьютерная лингвистика, машинный перевод, разработка языковых моделей для искусственного интеллекта, создание лингвистических электронных ресурсов и многое другое.</p>
    <p>Фундаментальная и прикладная лингвистика является ключевым направлением для развития современных технологий и науки, так как язык является основой любой коммуникации и информации. Развитие этой области позволяет создавать более эффективные и точные инструменты для обработки языка, что в свою очередь способствует развитию многих других областей, таких как бизнес, медиа, наука и образование.</p>
  </div>
  <div class="slide">
    <a href="https://education.nsu.ru/linguistics/" target="_blank"><img src="{{ url_for('static', filename='images/mathling_fields.jpg') }}"></a>
  </div>
  <div class="slide">
      <a href="https://www.nsu.ru/n/humanities-institute/departments/kafedra-fipl/" target="_blank"><img src="{{ url_for('static', filename='images/mathling_rne.jpg') }}"></a>
  </div>

  <div class="slider-controls">
      <button class="prev-button">
          <span class="material-icons">arrow_left</span>
      </button>
      <button class="next-button">
          <span class="material-icons">arrow_right</span>
      </button>
  </div>
</div>

<style>
  .slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  .slide {
    display: none;
  }

  .slide.active {
    display: block;
  }

  .slider-controls {
    display: flex;
    justify-content: center; /* Move to center */
    margin-top: 10px;
  }

  .slider-controls button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    font-size: 24px; /* Increase button size */
    margin: 0 10px; /* Add margin for spacing */
  }

  .slider-controls span {
    font-family: "Material Icons";
    transition: color 0.3s;
  }

  .slider-controls button:hover span {
    color: #555;
  }
</style>


<script>
  var slides = document.getElementsByClassName("slide");
  var currentSlide = 0;
  var prevButton = document.querySelector(".prev-button");
  var nextButton = document.querySelector(".next-button");

  function showSlide(slideIndex) {
    for (var i = 0; i < slides.length; i++) {
      slides[i].classList.remove("active");
    }
    slides[slideIndex].classList.add("active");
  }

  function nextSlide() {
    currentSlide++;
    if (currentSlide >= slides.length) {
      currentSlide = 0;
    }
    showSlide(currentSlide);
  }

  function prevSlide() {
    currentSlide--;
    if (currentSlide < 0) {
      currentSlide = slides.length - 1;
    }
    showSlide(currentSlide);
  }

  prevButton.addEventListener("click", prevSlide);
  nextButton.addEventListener("click", nextSlide);

  showSlide(currentSlide);
</script>

<!-- Material icons library -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endif %}
{% endblock %}
